---
import { Picture } from "astro:assets";
import agusImage from "/public/assets/AGUS.png";
import Link from "@components/ui/link.astro";
import { Image } from "astro:assets";
import agus from "../assets/consultorio.png";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 md:block">
    <!-- <Picture
      src={agusImage}
      alt="Astronaut in the air"
      widths={[200, 400, 600]}
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    /> -->

    <svg
      width="120"
      height="100"
      viewBox="0 0 120 100"
      fill="none"
      xmlns="http://www.w3.org/2000/svg">
      <g id="starts">
        <g id="ligthGroup">
          <path
            id="light1"
            opacity="0.7"
            d="M27.3586 19L33.501 37.3792H53.3782L37.2972 48.7382L43.4396 67.1174L27.3586 55.7584L11.2776 67.1174L17.42 48.7382L1.33903 37.3792H21.2162L27.3586 19Z"
            fill="#EAB1B4"></path>
        </g>
        <g id="darkGroup">
          <path
            id="dark1"
            opacity="0.7"
            d="M27.3586 19L33.501 37.3792H53.3782L37.2972 48.7382L43.4396 67.1174L27.3586 55.7584L11.2776 67.1174L17.42 48.7382L1.33903 37.3792H21.2162L27.3586 19Z"
            fill="#635391"></path>
          <path
            id="dark2"
            opacity="0.7"
            d="M52.3586 19L58.501 37.3792H78.3782L62.2972 48.7382L68.4396 67.1174L52.3586 55.7584L36.2776 67.1174L42.42 48.7382L26.339 37.3792H46.2162L52.3586 19Z"
            fill="#635391"></path>
        </g>
      </g>
    </svg>

    <Image src={agus} alt="My super logo!" />
    <img
      src="/_vercel/image?url=_astro/logo.hash.png&w=...&q=..."
      alt="Mi super logo!"
      loading="lazy"
      decoding="async"
      width="..."
      height="..."
    />
  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      Lic. Ana Agustina Martinelli
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      Experta en Nutricion<wbr /> especializada en el bienestar y la salud con mas
      de 10 años ayudando a mis pacientes
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="#"
        href="/contact"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        Contactame

        <Link
          size="lg"
          style="outline"
          rel="noopener"
          href="/plan"
          class="flex gap-1 items-center justify-center"
          target="_blank">
          Planes
        </Link>
      </Link>
    </div>
  </div>
</main>

<style>
  :root{
    --dark-color: #635390;
    --light-color: #EAB1B4;
  }
  svg{
    cursor: pointer;
  }

  #darkGroup {
    fill: var(--dark-color);
  }
  #lightGroup {
    fill: var(--light-color);
  }

  #dark1,
  #light1,
  #dark2 {
    transition: all 1s ease;
  }

  #dark2{
    transform: translateX(-100%);
  }

  svg:hover #light1 {
    transform: translate(20%);
  }
  svg:hover #dark1 {
    transform: translate(40%);
  }
  svg:hover #dark2 {
    transform: translate(0%);
  }
</style>
